.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    
  
}

.grid1{
    height: 100%;
    text-align: end;
    align-content: end;
    margin: 5px;
    padding: 5px;
    align-items: center;
    align-content: center;
}

.grid2{
    height: 100%;
    text-align: start;
    align-content: end;
    margin: 5px;
    padding: 5px;
    align-items: center;
    align-content: center;
}


.grid3{
    height: 100%;
    text-align: end;
    align-content: start;
    margin: 5px;
    padding: 5px;
    align-items: center;
    align-content: center;
}


.grid4{
    height: 100%;
    text-align: start;
    margin: 5px;
    padding: 5px;
    align-items: center;
    align-content: center;
}


.col1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    

}

.col2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

img{
    object-fit: fill;
    width: 80%;
    height: 80%;
    
}