body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(33, 30, 30, 0.575);
}

.sudoku-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border: 1px solid gainsboro;
  /*  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    padding: 20px;
}

.sudoku-board {
    display: grid;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px);
    gap: 1px;
    border: 2px solid black;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    text-align: center;
}

h4{
    align-items: center;
    align-content: center;
    margin: 10px;

}


h1{
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}